// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid $white;
    
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.zoom img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
// .zoom-effect {
//   float: left;
//   position: relative;
//   width: 640px;
//   height: 360px;
//   margin: 0 auto;
//   overflow: hidden;
// }
.zoom-effect:hover .zoom img {
  -webkit-transform: scale(1.58);
  transform: scale(1.58);
}
